body{
    background-color: rgb(197, 217, 218);
   

  
}
.textt{
  
    color: darkslategray;
    text-align: center;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}
#increment-btn{
    
    padding: 6px 50px;
    background-color: lightslategray;
   
    color: whitesmoke;
    font-weight: bold;
    width: 200px;
    border-radius: 10px;
 border: 5px silver solid;
 cursor: pointer;

   
}

#save-btn{
    padding: 6px 50px;
    background-color: darkred;
   
    color: whitesmoke;
    font-weight: bold;
    width: 200px;
    border-radius: 10px;
 border: 5px silver solid;
 cursor: pointer;


}
